h1 {
    font-size: 70px;
    margin-bottom: 0px;
}
hr {
    margin-top: 70px;
    margin-bottom: 70px;
}

.app-img{
    height: auto;
    width: 350px;
    padding-left: 5%;
}
.app-text {
    width: 60%;
}
.app-text p {
    line-height: 1.5;
}
.tr-height {
    height: 250px;
}

.app-popup-img{
    height: auto;
    width: 300px;
}
.popimg-block {
    width: 350px;
}
.app-popup-text {
   
}

.sensor-header {
    text-align: right;
}
.sensor-text-block {
    width: 60%;
}
.sensor-text {
    text-align: right;
}

.sensor-img{
    height: auto;
    width: 350px;
}

.app-donate-img{
    height: auto;
    width: 200px;
}

.points-img {
    height: auto;
    width: 300px;
}

.headerimg {
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
  }

  .headerimage {
      width: 100%;
      height: auto;
      position: relative;
  }