p {
    /*font-size: 100px;*/
}

.sensor-img{
    height: auto;
    width: 200px;
}

.app-img{
    height: auto;
    width: 200px;
}

.app-popup-img{
    height: auto;
    width: 200px;
}

.app-donate-img{
    height: auto;
    width: 200px;
}

.points-img {
    height: auto;
    width: 300px;
}

.headerimg {
    background-size: cover;
    text-align: center;
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
  }

  .headerimage {
      width: 100%;
      height: auto;
      position: relative;
  }