
body, html {
    height: 100%!important;
    width: 100%!important;
    padding: 0%;
}

/*.headerimg {
    background-size: cover;
    text-align: center;
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
  }*/


  .headerimg {
    background-color: #E1E5F2;
    background-image: url("/img/headerBIG.jpg");
    text-align: center;
    font-size: 40px;
    height: 100%;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .headertitle {
    color: #292929;
    position: absolute;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    top: 20px;
    font-weight: lighter;
    font-size: 80px;
    padding-top: 150px;  
  }


  .headertext {
    color: #292929;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-right: 12%;
    top: 90px;
    font-weight: lighter;
    font-style: italic;
    font-size: 34px;
    margin-top: -10px;
    margin-bottom: 10px;
}


  .climatechange {
      font-size: 60px;
      color: #5c4d50;
      font-weight: normal;
  }

  .pitchtitle {
      text-align: center;
      font-size: 35px;
  }

  .pitchtext {
      text-align: center;
      font-size: 25px;
      font-weight: lighter;
      margin-bottom: 40px;
  }



  .solution {
      margin-top: 90px;
      text-align: right;
      margin-right: -20%;
      margin-left: 20%;
      color: #82646B;
  }

  .solutiontext {
      margin-bottom: 100px;
      text-align: right; 
      margin-right: -20%;
      margin-left: 30%;
  }

  .solutiontext a {
    color: #4C737B;
  }

  .solutionlinjeleft {
    margin-right: -20%;
    margin-top: -3%;
    height: 2px;
    width: 80%;
    background-color: white;
    border: none;
}
  .fomo {
    margin-top: 90px;
    text-align: left;
    margin-left: -20%;
    margin-right: 20%;
    color: #82646B;
}

.solutionlinjeright {
    margin-left: -20%;
    margin-top: -3%;
    height: 2px;
    width: 80%;
    background-color: white;
    border: none;
}

.fomotext {
    margin-bottom: 100px;
    text-align: left; 
    margin-left: -20%;
    margin-right: 30%;
}

  .solutiontable {
      width: 100%;
      border-collapse: collapse;
      padding: 20px;
      background-color: #f0f0f0;
  }

  .solutiontable td {
      vertical-align: top;
      width: 33%;
  }

  .solutioncenter {
      text-align: center;
  }

  hr {
      color: black;
      width: 70%;
  }

  .appbilde {
      width: 260px;
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .sustainableinnhold {
      margin-top: 50px;
      margin-bottom: 70px;
  }

  .sustainable {
      margin-top: 40px;
      text-align: center;
      margin-left: 10px;
  }

  .sustainabletext {
      text-align: center;
  }
  
  .ungoal {
      width: 100%;
      background-color: #90cfb2;
      background: cover;
      margin-top: 50px;
      margin-bottom: -17px;
  }

  .ungoal a {
      color: #292929;
      font-weight: normal;
  }

  .untable {
      width: 100%;
      padding: 30px;
      table-layout: fixed;
      overflow-wrap: break-word;
      font-size: 25px;
      font-weight: lighter;
  }

  .unleft {
      text-align: right;
  }

  .uncenter {
      text-align: center;
  }

  .UNimg {
      height: 70px;
      width: auto;
  }

  .unright {
      text-align: left;
  }

  .untitle {
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 30px;
  }

  .untext {
      color: #292929;
  }

  @media screen and (max-width: 1315px) {
    .fomo, .fomotext {
        margin-left: 0;
        
    }

    .fomo, .solution {
        margin-top: 10%;
    }

    .solution, .solutiontext {
        margin-right: 0;
    }

    .solutionlinjeright {
        margin-left: 0;
        height: 2px;
        width: 80%;
    }
    
    .solutionlinjeleft {
        margin-right: 0;
        height: 2px;
        width: 80%;
    }

    .fomotext, .solutiontext {
        margin-bottom: 10%;
    }

}

  @media screen and (max-width: 900px) {
    .solutiontable, .solutiontable td, .solutiontable tr {
        display: block;
    }
    .solutiontable td { 
        margin-bottom: 20px;
        margin: 0;
    }

    .solution {
        margin-top: 50px;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
        color: #82646B;
    }
  
    .solutiontext {
        margin-bottom: 20px;
        text-align: center; 
        margin-right: 5%;
        margin-left: 5%;
    }
  
    .solutiontext a {
      color: #4C737B;
    }
  
    .solutionlinjeleft {
      margin-right: 10%;
      margin-top: -3%;
      height: 2px;
      width: 80%;
      background-color: white;
      border: none;
  }
    .fomo {
      margin-top: 30px;
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      color: #82646B;
  }
  
  .solutionlinjeright {
    margin-left: 10%;
    margin-top: -3%;
    height: 2px;
    width: 80%;
    background-color: white;
    border: none;
  }
  
  .fomotext {
      margin-bottom: 2px;
      text-align: center; 
      margin-left: 5%;
      margin-right: 5%;
  }
  
    .solutiontable {
        width: 100%;
        border-collapse: collapse;
        padding: 20px;
        background-color: #f0f0f0;
        padding-top: 0;
    }
  
    .solutiontable td {
        vertical-align: top;
        width: 100%;
    }
  
    .solutioncenter {
        text-align: center;
    }

    .untable, .untable td, .untable tr {
        display: block;
    }

  
    .untable td { 
        margin-bottom: 20px;
        margin: 0;
        width: 100%;
    }

    table.untable {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        font-weight: lighter;
        border-collapse: collapse;
    }
    .unleft, .uncenter, .unright {
        text-align: center;
    }
  
  
    .UNimg {
        height: 70px;
        width: auto;
    }
  
  
}

