

.headerimg {
    background-size: cover;
    text-align: center;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
  }

  .headerimage {
      width: 100%;
      height: auto;
      position: relative;
  }

  .headertitle {
    color: #292929;
    position: absolute;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    top: 20px;
    font-weight: lighter;
    font-size: 80px;
    background-color: rgba(255, 255, 255, 0.678);
    padding: 10px;
    padding-left: 50px;
  }

  .headertext {
      color: #292929;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-right: 12%;
      top: 90px;
      font-weight: lighter;
      font-style: italic;
      font-size: 34px;
  }

  .climatechange {
      font-size: 60px;
      color: #5c4d50;
      font-weight: normal;
  }

  .pitchtitle {
      text-align: center;
  }

  .pitchtext {
      text-align: center;
      font-size: 25px;
      font-weight: lighter;
      margin-bottom: 30px;
  }

  .solution {
      margin-top: 90px;
      text-align: right;
      margin-right: 20px;
  }

  .solutiontext {
      margin-bottom: 100px;
      text-align: right; 
      margin-right: 20px;
  }

  .fomo {
    margin-top: 90px;
    text-align: left;
}

.fomotext {
    margin-bottom: 100px;
    text-align: left; 
}

  .solutiontable {
      width: 100%;
      border-collapse: collapse;
      padding: 20px;
  }

  .solutiontable td {
      vertical-align: top;
      width: 33%;
  }

  hr {
      color: black;
      width: 70%;
  }

  .appbilde {
      width: 350px;
      height: auto;
      margin-top: 50px;
  }

  .sustainableinnhold {
      margin-top: 50px;
  }

  .sustainable {
      margin-top: 40px;
      text-align: center;
  }

  .sustainabletext {
  }
  
  .ungoal {
      width: 100%;
      background-color: #90cfb2;
      background: cover;
      margin-top: 50px;
  }

  .untable {
      width: 100%;
      padding: 30px;
      table-layout: fixed;
      overflow-wrap: break-word;
      font-size: 25px;
      font-weight: lighter;
      border-top: solid 1px;
      border-color: black;
  }

  .unleft {
      text-align: right;
  }

  .uncenter {
      text-align: center;
  }

  .UNimg {
      height: 70px;
      width: auto;
  }

  .unright {
      text-align: left;
  }

  .untitle {
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 30px;
  }