.fiveways-header, .fiveways-text {
    text-align: center;
}

.fiveways-img {
    height: auto;
    width: 1000px;
}

.recipe-header {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    color: #8D6D74;
}

.taco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/tacosnurrer.jpg");
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.taco-heading {
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}

.taco-text {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}

.recipe-info {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    /*margin-left: 20%;*/
    text-align: center;
}

h2, h3 {
    font-size: 25px;
    color: #292929;
    text-align: center;
}

.recipe-img {
    height: auto;
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
}