.climate-change-header {
    text-align: center;
}

.climate-change-text {
    padding-left: 75px;
    padding-right: 75px;
}

.climate-change-img {
    height: 500px;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.climate-change-header2 {
    color: #5c4d50;
    margin-bottom: 0px;
    font-size: 60px;
}

.climate-change-header3 {
    margin-top: 10px;
    font-size: 30px;
}

.headerimg {
    background-color: #ffffff;
    background-image: url(https://github.com/superfred009/final-project/blob/main/img/headerBIG2.jpg?raw=true);
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  /*.headerimage {
      width: 100%;
      height: auto;
      position: relative;
  }*/

  @media screen and (max-width: 800px) {
    .climate-change-img {
        width: 300px;
        height: auto;
    }

    .climate-change-text {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
  }