body {
    background-color: #FFFFFF;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

div {
    display: block;
}

.nav {
    background: white;
    height: 45px;
    width: 100%;
    position: fixed;
    border: none;
    box-shadow: 0 3px 3px -3px rgb(158, 158, 158);
    z-index: 1;
}
.nav ul {
    padding-top: 12px;
    margin: 0;
}

#home {
    float: left;
    margin-left: -16px;
}
.smallLogo {
    width: 33px;
    margin-top: -5px;
    padding-left: 10px;
}

nav ul li {
    float: right;
    padding-right: 25px;
    list-style: none;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

.innhold {
    margin-left: 10%;
    margin-right: 10%;
}

.footer {
    background-color: #FFFFFF;
    height: 145px;
    font-weight: lighter;
    font-size: 18px;
}
.footer table {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 13px;
}
.left {
    text-align: left;
    width: 33%;
}
.center {
    text-align: center;
    width: 33%;
    vertical-align: top;
}
.right {
    text-align: right;
    width: 33%;
    vertical-align: top;
}

a {
    color: #537D88;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*a:visited {
    color: #8D6D74;
}*/

th {
    color: #8D6D74;
    font-weight: lighter;
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
    color: #8D6D74;
    font-weight: lighter;
}

h1 {
    font-size: 40px;
}

p {
    color: #292929;
    font-size: 20px;
    font-weight: lighter;
}

.backtotop {
    background-color: #f0f0f0;
    height: 40px;
    width: 100%;
    text-align: center;
}

.backtotop ul li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-right: 40px;
    margin-top: 8px;
}

.backtotop ul li a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.backtotop ul li a:hover {
    background-color: #8D6D74;
    padding-top: 3px;
    color: #FFFFFF;
    text-decoration: none;
}

.normalfont {
    font-weight: normal;
}
