*:focus {
    outline: solid 2px #8D6D74;
}

body {
    background-color: #FFFFFF;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

div {
    display: block;
}

.innhold {
    margin-left: 10%;
    margin-right: 10%;
}

.nav {
    background: white;
    min-height: 45px;
    width: 100%;
    position: fixed;
    border: none;
    box-shadow: 0 3px 3px -3px rgb(158, 158, 158);
    z-index: 1;
}

nav ul {
    padding-top: 12px;
    margin: 0;
}

.home {
    float: left; 
    margin-left: -16px;
} 

.smallLogo {
    width: 33px;
    height: auto;
    margin-top: -5px;
    padding-left: 5px;
}

.navlist {
    float: right;
}

.logolist {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding-right: 25px;
    list-style: none;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
} 

nav a:hover {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .home {
        float: none;
        margin-left: 0;
    }

    .navlist {
        float: none;
    }
    
    .logolist {
        text-align: center;
        display: block;
    }

    .logolist li a {
        display: block;
    }

    .nav ul {
        padding-inline-start: 0px;
    }

    .nav ul li {
        display: block;
        text-align: center;
        padding-right: 0;
        line-height: 35px;
    }

    .nav {
        position: static;
    }

    .smallLogo {
        padding-left: 0;
    }

}

@media screen and (max-width: 900px) {
    .innhold {
        margin-right: 2%;
        margin-left: 2%;
    }
}

.footer {
    background-color: #FFFFFF;
    height: 145px;
    font-weight: lighter;
    font-size: 18px;
}

.footer table {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
}

.footertable {
    list-style: none;
    margin: 0;
    padding: 18px;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
}

.footertitle {
    color: #8D6D74;
    font-size: 23px;
}

.left {
    text-align: left;
    flex: 1;
}

.center {
    flex: 1;
    text-align: center;
}

.right {
    flex: 1;
    text-align: right;
} 

@media screen and (max-width: 900px) {
    .footertable {
        display: block;
    }

    .left {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: center;
    }
}

a {
    color: #537D88;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th {
    color: #8D6D74;
    font-weight: lighter;
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
    color: #8D6D74;
    font-weight: lighter;
}

h1 {
    font-size: 40px;
}

p {
    color: #292929;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.6;
}

.backtotop {
    background-color: #f0f0f0;
    height: 40px;
    width: 100%;
    text-align: center;
}

.backtotop ul li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-right: 40px;
    margin-top: 8px;
}

.backtotop ul li a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.backtotop ul li a:hover {
    background-color: #8D6D74;
    padding-top: 3px;
    color: #FFFFFF;
    text-decoration: none;
}

.normalfont {
    font-weight: normal;
}