body {
    background-color: #FFFFFF;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

div {
    display: block;
}

.nav {
    background: white;
    height: 45px;
    width: 100%;
    position: relative;
    border: none;
}
.nav ul {
    padding-top: 12px;
    margin: 0;
}

#home {
    float: left;
    margin-left: -20px;
}

nav ul li {
    display: inline-block;
    float: right;
    padding-right: 25px;
}

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 20px;
}

nav a:hover {
    color: black;
    text-decoration: none;
}

.innhold {
    margin-left: 10%;
    margin-right: 10%;
}

.footer {
    background-color: #FFFFFF;
    height: 130px;
    border-top: solid 1px;
}
.footer table {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}
.left {
    text-align: left;
    width: 33%;
}
.center {
    text-align: center;
    width: 33%;
}
.right {
    text-align: right;
    width: 33%;
}

a {
    color: #537D88;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th {
    color: #8D6D74;
    font-weight: lighter;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #8D6D74;
    font-weight: lighter;
}

h1 {
    font-size: 40px;
}

p {
    color: #292929;
    font-size: 20px;
}

.backtotop {
    border-top: solid 1px;
    border-color: black;
    height: 40px;
    width: 100%;
}

.backtotop ul li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-left: -10px;
    margin-top: -10px;
}

.backtotop ul li a {
    font-size: 20px;
    text-transform: uppercase;
}

.backtotop ul li a:hover {
    color: black;
    text-decoration: none;
}

